*{
    box-sizing: border-box;
}

.body{
    margin: 0;
}

.logo{
    width: 75%;
    float: left;
    border: 1px solid black;
}

.login{
    width: 25%;
    float: right;
    border: 1px solid black;
}

.top-nav{
    width: 100%;
    position: relative;
    border: 1px solid black;
}

.content{
    width: 85%;
    height: 100vh;
    float: left;
    border: 1px solid black;
}
.add{
    width: 15%;
    height: 100vh;
    float: right;
    border: 1px solid black;
}

.footer{
    width: 100%;
    left: 0;
    bottom: 0;
    border: 1px solid black;
}

@media screen and (max-width:800px) {
    .logo,
    .login, 
    .content,
    .top-nav, 
    .add,
    .footer {
      width:100%; 
    }
  }

@media screen and (max-width:800px) {
    .add{
        height: 100px;
    }
}
