@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Lato", sans-serif;
}
body {
   height: 100vh;
   background: lightgray;
}

.row {
   display: flex;
   text-align: center;
   width: 100%;
}
.logo {
   background: dimgray;
   color: whitesmoke;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 6vh;
   width: 60%;
}
.login {
   height: 6vh;
   background: dimgray;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40%;
}
.top-nav {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 7vh;
   background: gray;
   color: whitesmoke;
}

.content {
   min-height: 80vh;
   max-height: 80vh;
   overflow-y: auto;
   width: 90%;
   background: white;
   padding: 0 1rem;
}
.content .text {
   text-align: left;
   margin: 2rem 0;
}
.content .text p {
   margin: 1rem 0;
}
.content table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
   margin: 2rem 0;
}

.content td,
.content th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}

.content tr:nth-child(even) {
   background-color: #dddddd;
}
.content .images {
   display: flex;
   justify-content: space-around;
   margin: 2rem 0;
}
.content .images img {
   height: 100px;
   width: 100px;
}

.add {
   display: flex;
   flex-direction: column;
   padding: 2rem 1rem;
}
.add h3 {
   margin: 2rem 0 1rem;
}
.add span {
   margin-top: 0.7rem;
}
.footer {
   height: 7vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: gray;
   color: whitesmoke;
}
.footer a {
   width: 3rem;
   text-align: center;
   margin: 0 0.5rem;
   text-decoration: none;
   color: white;
}

/* Table styling */

@media screen and (max-width: 800px) {
   * {
      width: 100% !important;
   }
   .row {
      flex-direction: column;
   }
   .content {
      min-height: 0;
      max-height: fit-content;
   }
}
